*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/mainmenupic.jpg");
    height:  100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;

}

.main-nav li{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.hero
{
    position: absolute;
    width: 1000px;
    margin-left: 15px;
    margin-top: 0;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 275px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one
{
    font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
    background-color: darkorange;
}

.btn-two
{
    font-family: "Roboto",sans-serif;
}


.btn-two:hover
{   
    background-color: darkorange;
}
